[
    {
        "name"   : "Local Autentication",
        "id"     : ""
    },
    {
        "name"   : "RCS-RDS.LOCAL (LDAP)",
        "id"     : "rcs-rds",
        "class"  : "JSPlatform_LDAP_ForeignAuth",
        "config" : {
            "autoEnable": 1,
            "server"    : "82.76.242.230",
            "domain"    : "rcs-rds.local",
            "dn"        : "OU=Filiale,DC=rcs-rds,DC=local",
            "filters"   : {
                "groups": "memberof:CN",
                "uid"   : [
                    "employeeid",
                    "uid"
                ],
                "email" : "mail",
                "phone" : "phone"
            }
        }
    }
]