select {
    vertical-align: top;
    border: 2px inset #ddd;
    background-color: white;
    height: 21px;
    border: 1px inset #ddd;
    -webkit-user-select: none;
}

select[data-icon] {
    -webkit-appearance: push-button !important;
    background-position: 2px 50% !important;
    background-repeat: no-repeat !important;
    padding-left: 18px !important;
}

select:focus {
    outline: none;
}

select:disabled {
    text-shadow: 1px 0px 1px black;
    color: #ddd;
}

select > option:active, select > option:focus {
    background-color: #1e90ff;
    color: white;
}

/*  DROP DOWN (EMULATED) */

.DomListBox > .DomOption.hover,
.DomDropDownExpander > .DomOption.hover {
    background-color: #ddd;
    color: black;
}



.DomDropDown {
    border: 2px inset #ddd;
    background-color: white;
    vertical-align: top;
    display: inline-block;
    height: 18px;
    width: 50px;
}

.DomDropDown > div.DomDropDownInner {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.DomDropDown > div.DomDropDownInner > div.DomOptionHolder {
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    right: auto;
    bottom: auto;
    bottom: 0px;
    right: 20px;
    
    overflow: hidden;
}

.DomDropDown > div.DomDropDownInner > button.expand {
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 20px;
    border: none;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url(dropdown/arrow_down.gif);
}

.DomDropDown:focus button.expand {
    background-color: #ddd;
}

.DomDropDown.expanded button.expand {
/*     background-color: #ddd !important; */
}

.DomOption {
    display: block;
    padding: 2px;
    cursor: default;
    position: relative;
    overflow: hidden;
}

.DomDropDownExpander > .DomOption.selected {
    background-color: #1e90ff;
}

.DomOption * {
    font-size: 12px !important;
}

.DomDropDownExpander {
    border: 1px solid black;
    background-color: white;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
}



/* LISTBOX (EMULATED) */
.DomListBox {
    border: 2px inset #ddd;
    background-color: white;
    vertical-align: top;
    display: block;
    height: 60px;
    width: 60px;
    
    overflow-x: hidden;
    overflow-y: auto;
    
    position: relative;
}

.DomListBox > div.DomOption.selected {
    background-color: #1e90ff;
}

.DomListBox > .DomOption.selected,
.DomDropDownExpander > .DomOption.selected {
    color: white;
}
