*,
html > * { 
    font-family: 'helvetica neue', 'helvetica-neue', helvetica, arial, sans-serif; 
    font-size: 12px 
}

body, html { 
    padding: 0px; 
    margin: 0px; 
    width: 100%;
    height: 100%;
}

body {
    overflow: hidden;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}
 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}