div.DOMLabel {
    display: inline-block;
    position: relative;
    overflow: hidden;
    white-space: pre;
    cursor: default;
    color: white;
    text-shadow: 0px 0px 2px black;
    -webkit-user-select: none;
}

div.DOMLabel.placement {
    position: absolute;
    display: block !important;
}
